@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;300&display=swap');

:root {
    --primary-color: #60A5FA;
    --dark-grey : #6B7280; 
    --off-white : #E5E7EB;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0px;
}


hr{
    margin: 2rem 0rem;
}
.line{
    width:3rem;

}


/*** Spaces ***/

.margin-md{
    margin: 2rem;
}
     
/*** Container ***/

.container-fluid {
    padding-left: 3rem;
    padding-right: 1rem;
    /*or we can use padding : 3rem 1rem */
}
.container-center {
    /* padding-top: 8rem; */
    max-width: 800px;
    margin : auto;
}

/*** Links ***/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;  /* top = bottom, left = right
    ie., 0.5rem = top = bottm && 1rem = left = right*/

}
.First-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white
}
.Second-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/*** Lists ***/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/*** navigation ***/

.navigation{
    
    background-color: var(--primary-color);
    color: black;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 0.5rem 0.5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link{  /*inside navigation if there is a link class, then*/
    color: black;
}

.navigation .link-active {
    font-weight: bold;
}

/*** Header ***/

.hero{
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.hero .hero-img{
    
    max-width: 300px;
    display: block;
    margin: auto;
    

}

.hero .hero-heading{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    /* padding-top: 1rem; */
    /* padding-bottom: 10rem; */

}
.hero .hero-heading .hero-highlight{
    color: var(--primary-color);
}

/*** Section ***/

.section{
    /* padding-top: 4rem; */
    margin-left: 8rem;
    margin-right: 8rem;
    padding : 2rem;
    text-align: center;
}

.section h1{    /*inside section if there is a heading, it should go to center*/
    text-align: center;
}

.off-white{
    padding: 2rem 0;
    border-radius: 2rem;
    text-align: center;
    /* padding-top: 1rem; */
    background-color: var(--off-white);
}

/*** Footer ***/

.footer{
    margin-top: 5rem;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 4rem 4rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.footer .link{    /*links inside footer should be white*/
    color: black;

}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}